<!-- src/main/resources/templates/backtestResult.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Backtest Result</title>
</head>
<body>
<h1>Backtest Result</h1>

<div th:if="${result != null}">
    <p>Total Return: <span th:text="${result.totalReturn}">0.00</span></p>
    <p>백테스트 시작: <span th:text="${result.startDate}">-</span></p>
    <p>백테스트 종료: <span th:text="${result.endDate}">-</span></p>
    <p>초기 자본: <span th:text="${result.initialCapital}">-</span></p>'
    <p>월 납입금: <span th:text="${result.monthlyInvestment}">-</span></p>'
    <p>투자 종목: <span th:text="${result.assets}">-</span></p>-
</div>

<div th:each="entry : ${stockData}">
    <h2 th:text="${entry.key}"></h2> <!-- 주식 티커 -->
    <table border="1">
        <tr>
            <th>날짜</th>
            <th>주가</th>
        </tr>
        <tr th:each="data : ${entry.value}">
            <td th:text="${data.date}"></td>
            <td th:text="${data.closePrice}"></td>
        </tr>
    </table>
</div>

<div th:if="${result == null}">
    <p>No result data found.</p>
</div>

<a href="/backtest/form">Go Back</a>

</body>
</html>
