<!-- src/main/resources/templates/backtestResult.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Backtest Result</title>
</head>
<body>
<h1>Backtest Result</h1>

<div th:if="${result != null}">
    <p>Total Return: <span th:text="${result.totalReturn}">0.00</span></p>
    <p>백테스트 시작: <span th:text="${result.startDate}">-</span></p>
    <p>백테스트 종료: <span th:text="${result.endDate}">-</span></p>
    <p>초기 자본: <span th:text="${result.initialCapital}">-</span></p>'
    <p>월 납입금: <span th:text="${result.monthlyInvestment}">-</span></p>'
    <p>투자 종목: <span th:text="${result.assets}">-</span></p>-

</div>

<div th:each="entry : ${stockData}">
    <!-- KRW=X 제외 -->
    <div th:if="${entry.key != 'KRW=X'}">
        <h2 th:text="${entry.key}"></h2> <!-- 주식 티커 -->
        <table border="1">
            <tr>
                <th>날짜</th>
                <th>주가(달러)</th>
                <th>주가(원)</th>

            </tr>
            <tr th:each="data : ${entry.value}">
                <td th:text="${data.date}"></td>
                <td th:text="${#numbers.formatDecimal(data.closePrice, 2, 2)}"></td>
                <td th:text="${#numbers.formatInteger(data.krwPrice, 3, 'COMMA')}"></td>
            </tr>
        </table>
    </div>
</div>

<h2>월별 시드 결과</h2>
<table border="1">
    <thead>
    <tr>
        <th>날짜</th>
        <th>누적 시드 (KRW)</th>
        <th>누적 배당금 (KRW)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${monthlySeedResults}">
        <td th:text="${entry.get('date')}"></td>
        <td th:text="${#numbers.formatInteger(entry.get('seed'), 3, 'COMMA')}"></td>
        <td th:text="${entry.get('cumulativeDividends') == 0 ? '0' : #numbers.formatInteger(entry.get('cumulativeDividends'), 3, 'COMMA')}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${result == null}">
    <p>No result data found.</p>
</div>

<a href="/backtest/form">Go Back</a>

</body>
</html>
