<!DOCTYPE html>
<html lang="en">
<head>
    <title>Backtest Portfolio Asset Allocation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Analyze and view backtested portfolio returns, risk characteristics, standard deviation, annual returns and rolling returns">
    <meta name="keywords" content="portfolio,portfolio analysis,portfolio returns,CAGR,standard deviation,Sharpe ratio,Sortino ratio,drawdown,rolling returns,portfolio backtesting">
    <link rel="canonical" href="https://www.portfoliovisualizer.com/backtest-portfolio">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/merged-bf47b42f894207cbf2ee745bb98d2d4c.min.css">


    <script>
        var autoCompleteTickers=true;
        var showFullName=true;
        var enableExport=false;
        var expiredAccount=false;
        var enablePDF=false;
        var bookmarkURL="https://www.portfoliovisualizer.com/backtest-portfolio";
        var showBookmarkLink=true;
        var legacyBookmark=false;
        var showExportLinks=true;
        var emailPrefix="analytics.support";
        var emailDomain="srlglobal.com";
        window.q=[];window.$=function(f){q.push(f)}
    </script>



    <script defer="" data-domain="portfoliovisualizer.com" src="https://plausible.io/js/script.js"></script>




    <script>
        var extraChartsCount=15;
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
    <div class="container-fluid bg-navbar">

        <a class="navbar-brand fw-semibold" href="/">Portfolio Visualizer</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="analysis">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="markets">Markets</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="faq">Docs</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="regionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-globe"></i> Region
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="regionDropdown">
                        <li class="dropdown-header">Active: North America</li>
                        <li><a class="dropdown-item" href="manage-settings">Change</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tools
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="toolsDropdown">
                        <li class="dropdown-header">Portfolio Analysis</li>

                        <li><a class="dropdown-item" href="backtest-asset-class-allocation">Backtest Asset Class Allocation</a></li>
                        <li><a class="dropdown-item" href="backtest-portfolio">Backtest Portfolio</a></li>

                        <li><a class="dropdown-item" href="manager-performance">Manager Performance Analysis</a></li>


                        <li class="dropdown-divider"></li>
                        <li class="dropdown-header">Portfolio Simulation</li>
                        <li><a class="dropdown-item" href="monte-carlo-simulation">Monte Carlo Simulation</a></li>
                        <li><a class="dropdown-item" href="financial-goals">Financial Goals</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-header">Optimization</li>
                        <li><a class="dropdown-item" href="efficient-frontier">Efficient Frontier</a></li>
                        <li><a class="dropdown-item" href="optimize-portfolio">Portfolio Optimization</a></li>
                        <li><a class="dropdown-item" href="black-litterman-model">Black-Litterman Model</a></li>
                        <li><a class="dropdown-item" href="rolling-optimization">Rolling Optimization</a></li>

                        <li class="dropdown-divider"></li>
                        <li class="dropdown-header">Asset Analytics</li>
                        <li><a class="dropdown-item" href="fund-screener">Fund Screener</a></li>
                        <li><a class="dropdown-item" href="fund-performance">Fund Performance</a></li>
                        <li><a class="dropdown-item" href="asset-correlations">Asset Correlations</a></li>

                        <li class="dropdown-divider"></li>
                        <li class="dropdown-header">Factor Analysis</li>
                        <li><a class="dropdown-item" href="factor-analysis">Factor Regression</a></li>
                        <li><a class="dropdown-item" href="risk-factor-allocation">Risk Factor Allocation</a></li>
                        <li><a class="dropdown-item" href="etf-and-mutual-fund-factor-regressions">Fund and ETF Factor Regressions</a></li>
                        <li><a class="dropdown-item" href="factor-performance-attribution">Factor Performance Attribution</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-header">Tactical Allocation</li>
                        <li><a class="dropdown-item" href="tactical-asset-allocation-model">Tactical Allocation Models</a></li>

                        <li class="dropdown-divider"></li>
                        <li class="dropdown-header">Other</li>
                        <li><a class="dropdown-item" href="analysis">Show All</a></li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="sign-up">Sign Up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="login">Log In</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


</body>
</html>